*{
    margin: 0;
    padding: 0;
}

/* Navbar Section Style Here */
.navbar-Section-content{
    font-family: "Quicksand", serif;
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 15px auto;
    align-items: center;
}
.navbar-first-content{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.navbar-first-content img{
    height: 50px;
}
.navbar-second-content ul{
    list-style: none;
    display: flex;
    gap: 50px;
}
.navbar-second-content ul li a{
    font-weight: 600;
    border-bottom: 3px solid white;
    transition: 0.3s;
}
.navbar-second-content ul li a:hover{
    border-bottom: 3px solid rgb(255, 67, 67);
}
.navbar-second-content ul li:nth-child(1) a{
    color: rgb(254, 163, 1);
}
.navbar-second-content ul li:nth-child(2) a{
    color: rgb(1, 172, 253);
}
.navbar-second-content ul li:nth-child(3) a{
    color: rgb(5, 212, 223);
}
.navbar-second-content ul li:nth-child(4) a{
    color: rgb(93, 88, 239);
}
.navbar-second-content ul a{
    text-decoration: none;
    font-size: 20px;
}
.navbar-third-content button{
    background-color: rgb(254, 163, 1);
    border: 1px solid rgb(254, 163, 1);
    font-size: 20px;
    font-weight: 600;
    padding: 13px 70px;
    border-radius: 15px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    transition: 0.3s;
}
.navbar-third-content button:hover{
    background-color: rgb(220, 145, 16);
    border: 1px solid rgb(220, 145, 16);
}
.navbar-menu{
    display: none;
}
.navbar-menu i{
    font-size: 50px;
    cursor: pointer;
}

/* Hero Section Style Here */
.hero-section-content{
    font-family: "Quicksand", serif;
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 30px auto;
}
.hero-left-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hero-left-content .hero-paragraph p{
    font-size: 60px;
    font-weight: 700;
}
.hero-left-content > p{
    font-size: 20px;
    font-weight: 400;
    width: 75%;
    margin: 20px 0;
}
.hero-left-content .hero-paragraph p:nth-child(1){
    color: rgb(254, 163, 1);
}
.hero-left-content .hero-paragraph p:nth-child(2){
    display: inline;
}
.hero-left-content .hero-paragraph p:nth-child(3){
    display: inline;
    color: rgb(1, 172, 253);
}
.hero-left-content button{
    background-color: rgb(17, 17, 17);
    border: 2px solid rgb(17, 17, 17);
    border-radius: 12px;
    color: white;
    padding: 10px 20px;
    width: 170px;
    cursor: pointer;
    transition: 0.3s;
}
.hero-left-content button:hover{
    background-color: white;
    border: 2px solid rgb(17, 17, 17);
    color: rgb(17, 17, 17);
}

/* Standard Curriculum Style Here */
#standard-curriculam-section{
    background-image: url(../assets/images/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.standard-curriculam-section-content{
    font-family: "Quicksand", serif;
    width: 70%;
    margin: 0 auto;
}
.standard-curriculam-title{
    font-size: 45px;
    text-align: center;
    margin: 60px 0;
}
.standard-curriculum-card-items{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 40px;
}
.standard-curriculum-card{
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.standard-curriculum-card:nth-child(1){
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.standard-curriculum-card:nth-child(2){
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.standard-curriculum-card:nth-child(3){
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.standard-curriculum-card .img-box{
    margin-top: 60px;
    margin-bottom: 30px;
}
.standard-curriculum-card h3{
    font-size: 25px;
    font-weight: 700;
}
.standard-curriculum-card p{
    font-family: "Raleway",serif;
    font-size: 15px;
    font-weight: 500;
    color: rgb(128, 128, 128);
    margin: 30px 0;
    width: 70%;
}
.standard-curriculum-card button{
    font-size: 15px;
    font-weight: 700;
    border: none;
    background: transparent;
    padding-bottom: 70px;
    cursor: pointer;
    transition: 0.3s;
}
.standard-curriculum-card:nth-child(1) button{
    color: rgb(100, 200, 255);
}
.standard-curriculum-card:nth-child(2) button{
    color: rgb(240, 170, 0);
}
.standard-curriculum-card:nth-child(3) button{
    color: rgb(135, 0, 255);
}
.standard-curriculum-card button:hover{
    font-size: 20px;
}
.arrow-symble{
    display: flex;
    justify-content: center;
    margin: 50px 0px;
    gap: 10px;
}
.arrow-symble i{
    background-color: rgb(254, 163, 1);
    font-size: 50px;
    border-radius: 50%;
    color: white;
    transition: 0.3s;
    cursor: pointer;
}
.arrow-symble i:hover{
    transform: scale(1.2);
}





/* All Mobile Responsive Style Here */

@media screen and (max-width:500px){
    /* Navbar Section Responsive Style Here */
    #navbar-section{
        border-bottom: 0.5px solid rgb(254, 163, 1);
    }
    .navbar-Section-content{
        width: 90%;
        margin: 15px auto;
    }
    .navbar-first-content h1{
        display: none;
    }
    .navbar-menu{
        display: block;
    }
    .navbar-second-content ,.navbar-third-content{
        display: none;
    }

    /* Hero Section Responsive Style Here */
    .hero-section-content{
        flex-direction: column-reverse;
        width: 90%;
        margin: 15px auto;
    }
    .hero-left-content{
        text-align: center;
        align-items: center;
    }
    .hero-left-content .hero-paragraph p{
        font-size: 2rem;
        font-weight: 700;
    }
    .hero-left-content > p{
        font-size: 15px;
    }
    .hero-right-content img{
        width: 100%;
    }

    /* Standard Curriculum Responsive Style Here */
    #standard-curriculam-section{
        background-image: url(../assets/images/bg.png);
        background-size: cover;
        background-repeat: no-repeat;
    }
    .standard-curriculam-section-content{
        font-family: "Quicksand", serif;
        width: 90%;
        margin: 0 auto;
    }
    .standard-curriculam-title{
        font-size: 30px;
        text-align: center;
        margin-bottom: 15px;
    }
    .standard-curriculum-card-items{
        grid-template-columns: repeat(1,1fr);
        gap: 20px;
    }
    .arrow-symble{
        display: none;
    }
}